.inputGroup {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: end;
}

.errMessage {
  color: red;
  font-size: 12px;
}

.inputContainer {
  width: 100%;
  min-width: 150px;
  max-width: 300px;
  padding: 10px;
  display: flex;
  gap: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: border 300ms ease-in-out;

  &:is(:focus-within, :hover, :focus) {
    border-color: rgb(30, 50, 55);
  }
}

.errorInputContainer {
  border-color: red;
}

.input {
  width: 100%;
  border: none;
  outline: none;
}

.button {
  background: none;
  padding: 0;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
