/* styles for ToastContainer */
.mainContainer {
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* styles for Toast */
.toastsContainer {
  position: relative;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  color: #ffffff;
  color: #e9b584;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.iconWrap {
  width: 20px;
  height: 20px;
  border: 1px solid #beb0a2;
  border-radius: 50px;
  padding: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}

.textGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title,
.description {
  margin: 0;
}

.title {
  font-weight: 400;
  font-size: 16px;
}

/* colors */
.defaultSolid {
  background: #2c2926;
  color: #beb0a2;
}
.defaultSolid .closeButton {
  background: #2c2926;
  border: 1px solid #beb0a2;
}

.defaultBordered {
  border: 1px solid #2c2926;
  background: #beb0a2;
  color: #2c2926;
}
.defaultBordered .iconWrap,
.defaultBordered .closeButton {
  border: 1px solid #2c2926;
}
.defaultBordered .closeButton {
  background: #beb0a2;
}

.dangerSolid {
  background: #8d1e1e;
  color: #ffffff;
}
.dangerSolid .iconWrap {
  border: 1px solid #ffffff;
}
.dangerSolid .closeButton {
  background: #8d1e1e;
  border: 1px solid #ffffff;
}

.dangerBordered {
  border: 1px solid #8d1e1e;
  background: #ffcbcb;
  color: #8d1e1e;
}
.dangerBordered .iconWrap,
.dangerBordered .closeButton {
  border: 1px solid #8d1e1e;
}
.dangerBordered .closeButton {
  background: #ffcbcb;
}

.successSolid {
  background: #0e5f2c;
  color: #c4fcd8;
}
.successSolid .iconWrap {
  border: 1px solid #c4fcd8;
}
.successSolid .closeButton {
  background: #0e5f2c;
  border: 1px solid #c4fcd8;
}

.successBordered {
  border: 1px solid #0e5f2c;
  background: #c4fcd8;
  color: #0e5f2c;
}
.successBordered .iconWrap,
.successBordered .closeButton {
  border: 1px solid #0e5f2c;
}
.successBordered .closeButton {
  background: #c4fcd8;
}

.closeButton {
  position: absolute;
  top: -10px;
  right: -5px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: none;
  border-radius: 50px;
  padding: 5px;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
