.sidebarMenuBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.sidebarMenuContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  padding: 10px;
  width: 40%;
  background: #161714;
  font-family:
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
  color: white;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

.divider {
  margin: 20px 0;
  height: 1px;
  width: 100%;
  background: rgb(203, 203, 203);
}

.sidebarMenuList {
  padding: 0;
}

.sidebarMenuList,
.sidebarSubmenuList {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebarMenuList {
  gap: 20px;
}

.sidebarSubmenuList {
  gap: 10px;
}

.sidebarMenuItem,
.sidebarSubmenuItem {
  list-style: none;
}

.link {
  text-decoration: none;
  color: rgb(203, 203, 203);
}

.button {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  color: rgb(203, 203, 203);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconLabelGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.option {
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;

  &:is(:hover, :focus-within) {
    background-color: #424340;
    color: white;
  }
}
